@model IEnumerable<Data.Models.CvProfil>

@{
    ViewBag.Title = "Index";
}

<h2>Användare i projektet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Namn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if (item.ImagePath != null)
                {
                    var imagePath = "/UploadedImages/" + item.ImagePath;
            <img src="@imagePath" style="max-width: 100px; max-height: 120px" />
                }
        <td>
            @Html.ActionLink("Visa CV", "ShowCvIndex", "CvProfil" new { id=item.Id }) |

        </td>
    </tr>
}

</table>

<div>
    @{
        var lastUrl = Request.UrlReferrer.ToString();
        if (lastUrl.Contains("MainIndex"))
        {
        @Html.ActionLink("Tillbaka till projekt", "MainIndex", "Project")
        }
        if (lastUrl.Contains("UserIndex"))
        {
        @Html.ActionLink("Tillbaka till projekt", "UserIndex", "Project")
        }
    }
</div>

