@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "MainIndex";
}

<h2>Samtliga projekt</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Projektnamn: @Html.TextBox("searchString") <br />
        <input type="submit" value="Sök" />
    </p>
}
    <p />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Namn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beskrivning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.ActionLink("Medverkande i projektet", "Index", "UserInProject", new { projectId = item.Id }, null)
                    @Html.ActionLink("Gå med i projekt", "Join", new { projectId = item.Id }, null)
                    @*@Html.ActionLink("Gå med i projekt", "Join", "Project")*@
                </td>
            </tr>
        }

    </table>
