@model IEnumerable<Data.Models.Project>

@{
    ViewBag.Title = "MainIndex";
}

<h2>Samtliga projekt</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Projektnamn: @Html.TextBox("searchString") 
        <input type="submit" value="Sök" />
    </p>
}
    <p />

    <p>
        @Html.ActionLink("Klicka här för att skapa nytt projekt", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beskrivning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Namn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskrivning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.ActionLink("Se vilka som medverkade i projektet", "Index", "UserInProject", new { projectId = item.Id }, null)
        </td>
        <td>
            @Html.ActionLink("Gå med i projektet", "Join", new { projectId = item.Id }, null)
        </td>
    </tr>
        }

    </table>
