@model IEnumerable<Data.Models.CvProfil>

@{
    ViewBag.Title = "Index";
}

<h2>Redigera profil</h2>

<p>
    @using (Html.BeginForm())
    {
    
}
    <p />

    
    

        <h2>Mina erfarenheten</h2>

        <p>
            @Html.ActionLink("Lägg till tidigare yrken", "Create", "Erfarenhet")
        </p>
        <div>
            @Html.Partial("_ListErfarenhet")
        </div>

        <br />

        <h2>Mina utbildningar</h2>

        <p>
            @Html.ActionLink("Lägg till utbildning", "Create", "Utbildning")
        </p>
        <div>
            @Html.Partial("_ListUtbildning")
        </div>

        <br />

        <h2>Mina övriga kompetenser</h2>

        <p>
            @Html.ActionLink("Lägg till kompetens", "Create", "Kompetens")
        </p>
        <div>
            @Html.Partial("_ListKompetens")
        </div>


    </table>
