@model IEnumerable<Data.Models.CvProfil>


@{
    ViewBag.Title = "SearchIndex";
}
<h2>Alla cvn</h2>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Namn: @Html.TextBox("searchString") <br />
        <input type="submit" value="Sök" />
    </p>
}
    <p />

    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Namn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Namn)
                </td>
                <td>
                    @if (item.ImagePath != null)
                    {
                        var imagePath = "/UploadedImages/" + item.ImagePath;
                        //<img src="@imagePath" class="imgSize" />
                        <img src="@imagePath" style="max-width: 100px; max-height: 120px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.ActionLink("Visa CV", "ShowCvIndex", new { item.Id })
                </td>
            </tr>
        }

    </table>
